.card{
	font-family: 'Oswald', sans-serif;
}
.container{
	font-family: 'Oswald', sans-serif;
}
.abc{
	font-family: 'Raleway', sans-serif;
}
.col-sm-4{
	transition: all 0.3s linear;
}
body{
	display: flex;
}
